:root {
  --general-text-black: #2b221c;
  --general-text-white: #fffaf5;

  --main-bg: #f9f8f4;
  --light-orange-bg: #f8e7d3;
  --dark-orange-bg: #f5a34e;

  --transition: all 0.4s;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 80px;
}

.body {
  font-family: 'Manrope', sans-serif;
  line-height: 1.5;
  color: var(--general-text-black);
  background: var(--main-bg);
  font-weight: normal;
}
.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  height: 100%;
}

img {
  max-width: 100%; /* Изображение не выйдет за пределы родительского контейнера */
  height: auto; /* Сохраняется пропорция изображения */
  display: block; /* Убирает лишние отступы под изображением */
  object-fit: cover;
}
